.button {
    height: 2.625em;
    padding: 0.625em;
    background-color: var(--headline-green);
    color: var(--white);
    cursor: pointer;

    &:focus {
        outline: 2px solid var(--focus-yellow);
    }

    &:active {
        background-color: var(--focus-yellow);
    }
}
