.header {
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0 0.3rem 1.5rem;
    padding: 0.5625rem 1.4375rem;
    background-color: var(--white);
    border-top: 0.3rem solid var(--background-tone);
    border-bottom: 1px solid rgba(26, 71, 166, 0.15);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.04);
}

.logo {
    display: inline-block;
    color: var(--headline-green);
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.35;
    text-decoration: none;
}
